.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player-select {
  margin-bottom: 2rem;
}

.rules-body {
  display: flex;
  flex-direction: column;
}

.roll-controllers-container {
  display: flex;
  flex-direction: column;
}

.btn-group {
  margin-bottom: 0.5rem;
}
